.cabecalho__barra_superior {
    display: flex;
    background-color: var(--fundo-branco);
    padding: 0.5em 1em;
}

.cabecalho__barra_superior-hora {
    font-weight: 400;
    font-size: 0.875rem;
    color: #333333;
}

.cabecalho__barra_superior-icones {
    margin-left: auto;
    gap: 1em;
}

.cabecalho__perfil {
    display: flex;
    padding: 2em 1em;
}

.cabecalho__perfil-foto {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
}

.cabecalho__perfil-foto img {
    width: 100%;
    height: 100%;
    object-position: cover;
}

.cabecalho__perfil-apresentação {
    padding-left: 1em;
}

.cabecalho__perfil-titulo {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--cor-texto-principal);
    padding-top: 0.2em;
}

.cabecalho__perfil-texto {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--cor-texto-secundaria);
    padding-top: 1em;
}

@media screen and (min-width: 768px) {
    .cabecalho__barra_superior {
        display: none;
    }

    .cabecalho__perfil {
        margin-left: 1em;
    }
}

@media screen and (min-width: 1440px) {
    body {
        /* A mágica acontece aqui: */
        padding-left: 280px;
        /* 260px do menu + 20px de respiro */
        box-sizing: border-box;
        /* Garante que o padding não estoure a largura */
        width: 100%;
    }
}